#dmxWindowOverlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #ccc;
	z-index:10;
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

#dmxWindowOverlay[id]{
	/*position:fixed;*/
}

div.indicator
{
	background-image: url( indicator.gif );
	background-position: center center;
	background-repeat: no-repeat;
}

.dmxWindow
{
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	height: auto;
	width: auto;
	background-color: #fff;
	overflow: hidden;
	border-top: 1px solid #dedede;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	z-index: 50000;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dmxWireframeWindow
{
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	height: 10;
	width: 10;
	overflow: hidden;
	border: 1px dashed #dedede;
	background-color: #eeeeee;
	z-index: 70000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.elementResizable
{
}

.dmxWindow h2
{
	position: relative;
	width: auto;
	height: auto;
	padding: 0px 0 4px 8px;
	margin: 0;
	font-size: 1em;
	font-family: verdana;
	font-family: verdana;
	font-size: 0.7em;
	cursor: pointer;
	white-space: nowrap;
	-moz-user-select: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.dmxWindow .closeHandle
{
	position: absolute;
	top: 4px;
	right: 4px;
	width: 16px;
	height: 16px;
	line-height: 1px;
	padding: 0px;
	margin: 0px;
	z-index: 51000;
	overflow: hidden;
	background-image: url(cancelnova.png);
}

.dmxWindow .resizeHandle
{
	position: absolute;
	float: none;
	clear: both;
	display:block;
	bottom: 1px;
	right: 1px;
	width: 12px;
	height: 12px;
	line-height: 1px;
	background-image: url( resize.gif );
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 51000;
	overflow: hidden;
	-moz-user-select: none;
}

.dmxWindow .frameHolder
{
	position: relative;
	display: block;
	z-index: 50100;
	overflow: visible;
	width: 100%;
	height: 100%;
	border-width: 0px;
	margin: 0;
	padding-top: 5px;
	/*margin-top: -3px;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
.dmxMoving .frameHolder, .dmxResizing .frameHolder,
*/
.dmxMoving iframe, .dmxResizing iframe
{
	display: none;
}

.dmxMoving div.dmxNoProtect, .dmxMoving div.dmxNoProtect
{
	display: block;
}



.dmxWindow iframe.content
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dmxWindow div.content
{
	position: relative;
	display: block;
	width: auto;
	height: auto;
	/*
	margin: 0 5px 0 5px;
	*/
	margin: 0;
	background-color: #fff;
	border: 1px solid #eee;
	z-index: 50050;
	overflow: visible;
	background-position: center center;
	background-repeat: no-repeat;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dmxWindow div.content object, .dmxWindow div.content embed
{
	/*z-index: 50055;*/
}

/* gallery mode */
.dmxGallery div.content
{
	margin: 0;
	border-width: 0;
}

.dmxWindow .frameHolder
{
	padding-top: 0;
}
/*gallery mode*/
/* frame mode */
.dmxIFrame div.frameHolder
{
	padding-top: 0;
}
/* frame mode */

.dmxWindow iframe.clear
{
	display: none;
}

* html .dmxWindow iframe.clear
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	/*
	filter:mask();
	filter:alpha(opacity=100);
	*/
	border: 0px none #fff;
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

.dmxPopupTest
{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 10px;
	visibility: hidden;
}