/* CSS Document */
@font-face
{
font-family: FuenteGolemCines;
	src: url('/fuentes/Helvtc.eot#') format('eot'),
	     url('/fuentes/Helvtc.ttf')  format('truetype');
}

ul#css3menu1,ul#css3menu1 ul{
	margin:0;
	list-style:none;
	padding:0;
	background-color:#237398;
	border-width:0px;
	border-style:solid;
	border-color:#FFFFFF;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}
ul#css3menu1 ul{
	display:none;
	position:absolute;
	left:-1px;
	top:100%;
	-moz-box-shadow:3.5px 3.5px 3px #333;
	-webkit-box-shadow:3.5px 3.5px 3px #333;
	box-shadow:3.5px 3.5px 3px #333;
	background-color:#429ADB;
	border-width:1px;
	border-radius:0 0 0px 0px;
	-moz-border-radius:0 0 0px 0px;
	-webkit-border-radius:0;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	border-style:solid;
	border-color:#429ADB #357BAF #357BAF #357BAF;
	/* padding:5px 5px 5px;*/
}
ul#css3menu1 ul ul{
	position:absolute;left:101%;top:-10px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1{
	font-size:0;
	z-index:999;
	position:relative;
	display:inline-block;
	zoom:1;
	padding:3px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;
	}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;
	vertical-align:middle;
	text-align:right;
	text-decoration:none;
	color:#FFFFFF;
	text-shadow:#1E4460 0px 0px 0px;
	cursor:pointer;
	padding:10px;
	background-color:#237398;
	background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));
	background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));
	background-image:linear-gradient(180deg,rgba(255,255,255,0),rgba(0,0,0,0.03));
	background-image:-webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));
	background-repeat:repeat;
	background-position:0 0;
	border-width:1px;
	border-style:solid;
	border-color:#237398;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#00FFFFFF,endColorstr=#08000000); 	
	font-family: FuenteGolemCines, Helvetica-Narrow, sans-serif;
	font-size: 22px;
	font-weight: normal;
}
ul#css3menu1 ul li{
	float:none;margin:5px 0 0;}
ul#css3menu1 ul a{
	text-align:left;
	padding:7px;
	background-color:#429ADB;background-image:-o-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0)); background-image:-moz-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0));   background-image:linear-gradient(180deg,rgba(84,162,218,1),rgba(65,151,214,0));  background-image:-webkit-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0));background-position:0 0;border-width:1;border-style:solid;border-color:#7BB8E6 #357BAF #357BAF #7BB8E6;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px; font-size:22px; font-family: FuenteGolemCines, Helvetica-Narrow, sans-serif;color:#FFFFFF;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF54A2DA,endColorstr=#004197D6)}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#429ADB;border-color:#86BEE8 #5EA9E0 #3D3E3F #5EA9E0;border-style:solid;color:#FFFFFF;text-shadow:#1E4460 0px 0px 0px;background-image:-o-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0)); background-image:-moz-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));   background-image:linear-gradient(180deg,rgba(112,179,228,1),rgba(66,154,219,0));  background-image:-webkit-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));background-position:0 100%;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF70B3E4,endColorstr=#00429ADB)}
ul#css3menu1 img{
	border:none;
	vertical-align:middle;
	margin-right:0px;
	margin-left: 5px;
}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#3983BB;background-image:-o-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0)); background-image:-moz-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0));   background-image:linear-gradient(180deg,rgba(63,146,208,1),rgba(57,131,187,0));  background-image:-webkit-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0));background-position:0 100%;border-style:solid;border-color:#357BAF #7BB8E6 #7BB8E6 #357BAF;color:#FFFFFF;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF3F92D0,endColorstr=#003983BB)}

ul#css3menu1 li.topmenu>a{
	top:150px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}
ul#css3menu1 ul span{
	background-image:url("/golemv9/img/arrowsub.png");padding-right:15px;}
